@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html * {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body::backdrop {
  background-color: #fbfdff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.43;
  background-color: #fbfdff;
}

button * {
  font-family: "Open Sans", sans-serif !important;
}

span * {
  font-family: "Avenir Next", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
